
.navbar-container {
    display: flex;
    justify-content: space-between;
}

.navBar {
    text-decoration: none;
    color: #212124;
    font-family: Proxima Nova,Helvetica,sans-serif;
}

.navBar:hover {
    border-bottom: #128fdc 4px solid;
}

.footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: whitesmoke;
    bottom: 0;
    border: black solid;
    width: 90vw;
}
