.picturesContainer > div > ul {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 10px;
}

.picturesContainer > div > ul > li > a > img {
    object-fit: cover;
    height: 430px;
    width: 280px
}

input {
    margin: 10px;
}
