/* TODO Add site wide styles */
.individual-pic {
    border: black dashed 2px;
    border-radius: 5px;
    padding: 5px;
}

.errors {
    font-size: 14px;
    color: red;
}

.label-title {
    font-family: Proxima Nova,Helvetica,sans-serif;
}

.title-input {
    padding: 3px;
    border-radius: 5px;
}

textarea {
    width: 300px;
    height: 150px;
  }

.commentContainer {
    border-top:  solid black 2px;
    padding: 10px;
}

.pictureContainer > div > img{
    /* border: red solid 5px; */
    max-width: 800px;
    max-height: 1600px;
}

.deleteButton {
    max-width: 50px;
    max-height: 20px;
}

.userName {
    color: #128fdc
}

.uploadedPic {
    height: 200px;
    width: 100px;
}
