/* TODO Add site wide styles */
.individual-pic {
    border: black dashed 2px;
    border-radius: 5px;
    padding: 5px;
}

.errors {
    color: red;
}

.label-title {
    font-family: Proxima Nova,Helvetica,sans-serif;
}

.title-input {
    padding: 3px;
    border-radius: 5px;
}
