.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container {
    display: flex;
    /* background-color: whitesmoke; */
    justify-content: center;
}

div {
    margin: 5px;
}

button {
    background-color: #128fdc;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

h2 {
    margin: 2px;
    color: #212124;
    font-family: Proxima Nova,Helvetica,sans-serif;
}

p {
    color: #212124;
    font-family: Proxima Nova,Helvetica,sans-serif;
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
    cursor: pointer;
}

.redirect {
    display: flex;
    justify-content: center;
    font-family: Proxima Nova,Helvetica,sans-serif;
}

.redirect a{
    text-decoration: none;
    color: #5ba7c2;
}

.form > div {
    display: flex;
    justify-content: center;
}

.logbutton {
    display: flex;
    justify-content: center;
}
