

.picturesContainer > div {
    width: 400px;
    border: black dashed 2px;
    padding: 5px;
    margin: 5px;
}

.picturesContainer > div > a > img {
    object-fit: cover;
    height: 430px;
    width: 280px;
    border: black solid 2px;
}

.picturesContainer > div > a > img {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 20px;
}

.albumTitle {
    width: 1000px
}
